<ion-view style="" title="Address">
    <ion-content padding="true">
        <form style="" class="list">
            <h3 style="color: rgb(0, 0, 0);">Address Name</h3>
            <h5 style="color: rgb(0, 0, 0);">Street</h5>
            <label style="" class="item item-input">
                <input placeholder="street" type="text">
            </label>
            <h5 style="color: rgb(0, 0, 0);">Number</h5>
            <label style="" class="item item-input">
                <input placeholder="number" type="text">
            </label>
            <h5 style="color: rgb(0, 0, 0);">Area</h5>
            <label style="" class="item item-input">
                <input placeholder="area" type="text">
            </label>
            <h5 style="color: rgb(0, 0, 0);">Zip Code</h5>
            <label style="" class="item item-input">
                <input placeholder="zip code" type="text">
            </label>
            <h5 style="color: rgb(0, 0, 0);">Associated Telephone Number</h5>
            <label style="" class="item item-input">
                <input placeholder="telephone number" type="tel">
            </label>
            <div style="" class="button-bar">
                <a class="button button-positive  button-block" id="accept" ui-sref="profile">Accept</a>
                <a class="button button-positive  button-block" id="cancel" ui-sref="profile">Cancel</a>
            </div>
        </form>
    </ion-content>
</ion-view>
