<form name="AnnouncementForm" class="list">
  <div>
    <label class="item item-input item-select">
      <div class="input-label">
        Category
      </div>
      <select ng-model="products.categorySelected" ng-change="get_subcategories()"
              ng-options="category.name for category in categories">
        <option disabled selected value>Select Category</option>
      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Subcategory
      </div>
      <select ng-model="products.subcategorySelected"
              ng-options="subcategory.name for subcategory in subcategories">
        <option disabled selected value>Select Subcategory</option>
      </select>
    </label>

    <label class="item item-input">
      <input placeholder="Quantity (kg)" name="amount" ng-model="products.amount"
             type="number" min="0.5" max="10000" step="0.5" ng-change="removePristine()" required>
    </label>
  </div>

  <div>
    <br>
    <button type="button" class="button button-calm  button-block"
            ng-show="!AnnouncementForm.$invalid
            && products.categorySelected && products.subcategorySelected && products.amount"
            ng-click="addProduct()">
      Add product to your announcement form.
    </button>
  </div>

  <div class="card note-card" ng-show="AnnouncementForm.amount.$error.required ||
                             AnnouncementForm.amount.$invalid && !products.amountPristine">

    <p ng-show="AnnouncementForm.amount.$error.required">* Quantity is required!</p>
    <p ng-show="AnnouncementForm.amount.$invalid && !products.amountPristine">
      * Invalid Quantity!
    </p>
  </div>
</form>
