<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Your Announcement</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Add More</button>
  </ion-header-bar>
  <ion-content class="padding fruits-vegetables-image">
    <form name="ProductsForm" class="list">
      <div class="list" ng-repeat="prod in announcement track by $index" ng-hide="">
        <label class="item item-input">
          <span class="input-label">Category</span>
          {{prod.category.name}}
        </label>
        <label class="item item-input">
          <span class="input-label">Subcategory</span>
          {{prod.subcategory.name}}
        </label>
        <label class="item item-input">
          <span class="input-label">Quantity (kg)</span>
          {{prod.amount}}
        </label>

        <br>

        <p class="buttonsSiblings">
          <a class="editButton" ng-click="editProductQuantity($index)">
            Edit Quantity
          </a>

          <a class="deleteButton" ng-click="DeleteProduct($index)">
            Remove Product
          </a>
        </p>
      </div>

      <label class="item item-input">
        <span class="input-label">Highest Price &euro; (optional)</span>
        <input placeholder="Highest Price (optional)" name="price" ng-model="products.price" type="number" min="1">
      </label>

      <label class="item item-input">
        <span class="input-label">Duration (days)</span>
        <input placeholder="Announcement Duration (days)" name="duration" ng-model="products.duration"
               type="number" min=1 max=365 minlength="1" required>
      </label>

      <div>
        <p ng-show="ProductsForm.duration.$error.required">* Announcement duration is required!</p>
        <p ng-show="ProductsForm.duration.$error.minlength">* Announcement duration has to be one day or longer!</p>
        <p ng-show="ProductsForm.duration.$invalid && !ProductsForm.duration.$pristine">* Invalid Duration!</p>
        <p ng-show="ProductsForm.price.$invalid && !ProductsForm.price.$pristine">* Invalid Price!</p>
      </div>

      <br>

      <button class="button button-calm button-block "
              ng-click="createAnnouncement()" ng-hide="isSpinning">Upload Your Announcement
      </button>

      <div id="progress-ring">
        <ion-spinner ng-show="isSpinning" icon="android"></ion-spinner>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
