<ion-modal-view title="Cart">
  <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Cart</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Fill Me</button>
  </ion-header-bar>

  <ion-content class="padding">
    <form name="cart" class="list">
      <div class="list" ng-repeat="product in cartProducts track by $index">
        <label class="item item-input">
          <span class="input-label">Provider</span>
          {{product.providerName}}
        </label>
        <label class="item item-input">
          <span class="input-label">Product</span>
          {{product.name}}
        </label>
        <label class="item item-input">
          <span class="input-label">Quantity (kg)</span>
          {{product.quantity}}
        </label>
        <label class="item item-input">
          <span class="input-label">Price </span>
          {{product.price}}&euro;
        </label>

        <br>

        <p class="buttonsSiblings">
          <a class="editButton" ng-click="editProductQuantity($index)">
            Edit Quantity
          </a>

          <a class="deleteButton" ng-click="deleteProduct($index)">
            Remove Product
          </a>
        </p>
      </div>

      <label ng-hide="!cartProducts.length" class="item item-input">
        <span class="input-label">Shipping </span>
        {{shipping}}&euro;
      </label>
      <label ng-hide="!cartProducts.length" class="item item-input">
        <span class="input-label">Additional Fees </span>
        {{additional}}&euro;
      </label>
      <label ng-hide="!cartProducts.length" class="item item-input">
        <span class="input-label">Total Price </span>
        {{totalPrice}}&euro;
      </label>

      <br ng-show="!cartProducts.length && !isSpinning">
      <h3 id="error" ng-show="!cartProducts.length && !isSpinning">Your cart is empty!</h3>

      <button class="button button-positive button-block button-clear"
              ng-click="buy()" ng-hide="!cartProducts.length || isSpinning">Purchase Product(s)
      </button>

      <div id="progress-ring">
        <ion-spinner ng-show="isSpinning" icon="android"></ion-spinner>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
