<label class="item item-input item-floating-label">
  <span class="input-label">Current password</span>
  <input placeholder="Current password" type="text" ng-model="popup.old" required>
</label>
<label class="item item-input item-floating-label">
  <span class="input-label">New password</span>
  <input placeholder="New password" type="text" ng-model="popup.new" required>
</label>
<label class="item item-input item-floating-label">
  <span class="input-label">Type new password again</span>
  <input placeholder="Type new password again" type="text" ng-model="popup.again" required>
</label>
