<form name="changePassword" class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Current password</span>
    <input placeholder="Current password" type="text" name="old" ng-model="popup.old" required>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">New password</span>
    <input placeholder="New password" type="text" name="new" ng-model="popup.new" ng-minlength="5" required>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Type new password again</span>
    <input placeholder="Type new password again" type="text" name="again" ng-model="popup.again" ng-minlength="5"
           required>
  </label>

  <div id="error">
    <p ng-show="changePassword.old.$error.required">* Old password is required!</p>
    <p ng-show="changePassword.new.$error.required">* New password is required!</p>
    <p ng-show="changePassword.again.$error.required">* Type new password again!</p>
    <p ng-show="changePassword.new.$error.minlength">* Password must be at least 5 digits!</p>
    <p ng-show="popup.new != popup.again">* Passwords don't match!</p>
  </div>
</form>
