<ion-view title="Farm It">
  <ion-content padding="true">
    <h1>Farm It</h1>
    <div class="button-bar">
      <a class="button button-stable button-block" ui-sref="signup">Sign Up</a>
    </div>
    <div id="or">
      <p>
        <strong>or</strong>
      </p>
    </div>
    <div>
    <a class="button button-stable button-block" ui-sref="login">Log In</a>
    </div>
    <br>
    <a class="button button-stable button-block" ui-sref="home.menu-content">
      Admin Home Button !Delete me at farmit.html template
    </a>
  </ion-content>
</ion-view>
