<ion-view title="Farm It" hide-nav-bar="true">
  <ion-content padding="true" class="farm-image">
    <div class="farmit">
      <div class="button-bar">
        <a class="button button-energized button-clear button-large" ui-sref="signup">Sign Up</a>
      </div>
      <p>
        <strong id="or">or</strong>
      </p>
      <div class="button-bar">
        <a class="button button-energized button-clear button-large" ui-sref="login">Log In</a>
      </div>
    </div>
  </ion-content>
</ion-view>
