<ion-view title="Home" cache-view="false">
  <ion-content padding="true" delegate-handle="mainScroll">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon" ng-click="search()"></i>
      <input placeholder="Search" type="search" ng-model="home.searchField" ng-change="search()">
    </label>

    <br>

    <providers-search-card ng-show="home.searchField"></providers-search-card>
    <providers-card ng-hide="home.searchField"></providers-card>

    <div id="progress-ring">
      <ion-spinner ng-show="isSpinning" icon="android"></ion-spinner>
    </div>
  </ion-content>

  <!--suppress HtmlUnknownAttribute -->
  <nav mfb-menu position="bl" effect="zoomin" resting-icon="ion-android-arrow-up" active-icon="ion-android-arrow-up"
       toggling-method="click" menu-state="status" on-tap="scrollToTop()" ng-show="userHasScrolledABit()">
  </nav>

  <!--suppress HtmlUnknownAttribute -->
  <nav mfb-menu position="br" effect="zoomin" active-icon="ion-edit" resting-icon="ion-edit"
       toggling-method="click" menu-state="status" on-tap="createAnnouncement()">
  </nav>
</ion-view>
