<ion-view style="" title="Profile">
    <ion-content padding="true">
        <h3>Basic Information</h3>
        <form style="" class="list">
            <h5 style="color: rgb(0, 0, 0);">Name</h5>
            <label style="" class="item item-input">
                <input placeholder="name" type="text">
            </label>
            <h5 style="color: rgb(0, 0, 0);" id="profile-heading13">Surname</h5>
            <label style="" class="item item-input">
                <input placeholder="surname" type="text">
            </label>
            <h5 style="color: rgb(0, 0, 0);" id="profile-heading14">Email</h5>
            <label style="" class="item item-input">
                <input placeholder="Email" type="email">
            </label>
            <h5 style="color: rgb(0, 0, 0);" id="profile-heading16">Telephone Number</h5>
            <label style="" class="item item-input">
                <input placeholder="telephone number" type="tel">
            </label>
        </form>
        <h5 style="color: rgb(0, 0, 0);">Click here if you want to change your password :</h5>
        <button class="button button-positive  button-block" id="change-password">Change your password</button>
        <h3 style="color: rgb(0, 0, 0);">Addresses</h3>
        <ion-list style="">
            <ion-item style="">Address1</ion-item>
        </ion-list>
        <div style="" class="button-bar">
            <a class="button button-positive  button-block" ui-sref="address">Accept</a>
            <a class="button button-positive  button-block" ui-sref="home.menu-content">Cancel</a>
        </div>
    </ion-content>
</ion-view>
