<ion-view title="Profile">
  <ion-nav-buttons side="left">
    <button class="button-icon icon ion-ios-arrow-back" ui-sref="home.menu-content">Back</button>
  </ion-nav-buttons>

  <ion-content padding="true">
    <h3>Basic Information</h3>
    <form class="list">
      <h5>Name</h5>
      <label class="item item-input">
        <input placeholder="name" type="text">
      </label>
      <h5>Surname</h5>
      <label class="item item-input">
        <input placeholder="surname" type="text">
      </label>
      <h5>Email</h5>
      <label class="item item-input">
        <input placeholder="Email" type="email">
      </label>
      <h5>Telephone Number</h5>
      <label class="item item-input">
        <input placeholder="telephone number" type="tel">
      </label>
    </form>
    <h5>Click here if you want to change your password :</h5>
    <button class="button button-positive button-block button-clear" id="change-password">Change your password</button>
    <h3>Addresses</h3>
    <ion-list>
      <ion-item>Address1</ion-item>
    </ion-list>

    <div class="centerText">
      <br>
      <img class="saveIcon" ng-src="img/save.svg" ng-click="saveChanges()"/>
      <br>
      <p class="saveText" ng-click="saveChanges()">Save Changes</p>
    </div>
  </ion-content>
</ion-view>
