<ion-view style="" title="Provider">
    <ion-nav-buttons side="left">
      <button class="button-icon icon ion-ios-arrow-back" ui-sref="home.menu-content">Back</button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <h1 style="color: rgb(0, 0, 0);">Provider's Name</h1>
        <div style="color: rgb(0, 0, 0);">
            <p>Details</p>
        </div>
        <ion-list>
          <ion-item>Ntomates</ion-item> onclick do you want to add it to your cart?
          <ion-item>Aggouria</ion-item>
          <ion-item>Patates</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
