<ion-content padding="true" ng-hide="fromSearch">
  <ion-item>
    <h1>{{provider.name}}</h1>
    <div>
      <i class="icon ion-iphone"></i> {{provider.tel_num}}
      <br>
      <i class="icon ion-ios-email"></i> {{provider.email}}
    </div>
  </ion-item>

  <div class="card" ng-repeat="product in products[0]">
    <div class="item item-text-wrap" ng-click="addToCart(product.id, product.name, product.unit_price)">
      <h2>
        {{product.name}}
      </h2>
      <div>
        <br>
        Origin: {{product.origin}}
        <br>
        Description: {{product.descr}}
        <br>
        Price: {{product.unit_price}}&euro;/kg
        <br>
        Stock: {{product.stock}} kg
        <br>
        Shipping Cost: {{product.base_shipping_cost}}&euro;
        <br>
        Additional shipping fees: {{product.additional_shipping}}&euro;
      </div>
    </div>
  </div>

  <div id="progress-ring">
    <ion-spinner ng-show="isSpinning" icon="android"></ion-spinner>
  </div>

  <br ng-show="!products.length && !isSpinning && !stillSearching">
  <h3 id="error" ng-show="!products.length && !isSpinning && !stillSearching">Provider does not have any Products!</h3>
</ion-content>
