<h1 id="farm_text">Providers</h1>

<div ng-repeat="providerchunk in providers">
  <div class="card" ng-repeat="provider in providerchunk">
    <div class="item item-text-wrap" ng-click="redirect(provider)">
      <h2>
        {{provider.name}}
      </h2>
      <div>
        <i class="icon ion-iphone"></i> {{provider.tel_num}}
        <br>
        <i class="icon ion-ios-email"></i> {{provider.email}}
      </div>
    </div>
    <button class="button button-clear button-energized" ng-click="rateProvider(provider)"
            ng-show="provider.canBeEvaluated">
      Evaluate Provider
    </button>
  </div>
</div>

<ion-infinite-scroll
  ng-if="moreDataCanBeLoaded"
  icon="android"
  on-infinite="loadMoreData()"
  distance="1%">
</ion-infinite-scroll>
