h1 {
  text-align: center;
  color: #3e4cb1;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

ion-item {
  font-weight: lighter;
  text-align: center;
}

.password {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding-top: 13%;
}

.ng-invalid {
  color: red;
}

.ng-invalid p {
  margin-top: 10px;
  text-align: start;
}

.button-clear {
  font-weight: 500;
}

.editButton {
  -moz-box-shadow: inset 0 34px 2px 5px #43a5d0;
  -webkit-box-shadow: inset 0 34px 2px 5px #43a5d0;
  box-shadow: inset 0 34px 2px 5px #43a5d0;
  background-color: #3d90ba;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  display: inline-block;
  color: #ffffff;
  font-family: Courier New, serif;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 15px;
  margin-right: 1%;
}

.editButton:active {
  position: relative;
  top: 1px;
}

.deleteButton {
  -moz-box-shadow: inset 0 34px 2px 5px #e67a73;
  -webkit-box-shadow: inset 0 34px 2px 5px #e67a73;
  box-shadow: inset 0 34px 2px 5px #e67a73;
  background-color: #e4685d;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  display: inline-block;
  color: #ffffff;
  font-family: Courier New, serif;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 15px;
}

.deleteButton:active {
  position: relative;
  top: 1px;
}

.buttonsSiblings {
  text-align: start;
}

.card {
  font-weight: lighter;
  text-align: center;
  box-shadow: 10px 8px 15px #178025;
}

.note-card {
  font-weight: lighter;
  text-align: center;
  padding-left: 3%;
  box-shadow: 0 0 0 white;
}

.disabledCard {
  font-weight: lighter;
  text-align: center;
  box-shadow: 10px 8px 15px #b1adad;
}

.centerText {
  text-align: center;
}

.about {
  text-align: center;
}

.forgotMyPassword {
  color: #287cb4;
  text-decoration: none;
  border-bottom: 1px dotted;
}

.saveIcon {
  width: 32px;
}

.address-popup .popup {
  width: 85%;
  /*.popup-head
    .popup-title
    .popup-sub-title
    .popup-body
    .popup-buttons.row
    .popup-buttons .button*/
}

.about-popup .popup {
  background: url("../img/wood.jpg") no-repeat fixed center;
  background-size: contain;
}

.about-popup .popup-body {
  background: url("../img/vegetables.png") no-repeat fixed center;
  background-size: contain;
}

.about-popup .popup-buttons .button{
  background: url("../img/top.png") no-repeat center;
}

.farm-image {
  background: url("../img/farm.jpg") no-repeat fixed center;
  background-size: cover;
}

.background-image {
  background: url("../img/wood.jpg") no-repeat fixed center;
  background-size: cover;
}

.vegetables-image {
  background: url("../img/vegetables.png") no-repeat fixed center;
  background-size: cover;
}

.fruits-vegetables-image {
  background: url("../img/fruits-vegetables.jpg") no-repeat fixed center;
  background-size: cover;
}

.spikes-image {
  background: url("../img/spikes.jpg") no-repeat fixed center;
  background-size: cover;
}

.statistics-image {
  background: url("../img/statistics.jpg") no-repeat fixed center;
  background-size: contain;
}

.top-image {
  background: url("../img/top.png") no-repeat fixed center;
  background-size: contain;
}

.white {
  color: white;
  font-weight: bolder;
}

.farmit {
  padding-top: 83%;
}

.transparent {
  background: fixed;
}

#error {
  color: red;
}

#farm_text {
  font-weight: bold;
  color: #178025;
  text-shadow: 1px 1px 3px #178025;
}

#progress-ring {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 45px;
  height: 45px;
}

#basic ion-item {
  text-align: left;
}

#or {
  color: #ffc900;
  font-weight: 900;
}
