h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}

p {
  text-align: center;
}

.ng-invalid {
  color: #e42112;
}

.ng-invalid p {
  margin-top: 10px;
  text-align: start;
}

.button-clear {
  font-weight: 500;
}

#progress-ring {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 45px;
  height: 45px;
}
